{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": "off",
    "arrow-parens": "error",
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": "error",
    "comma-spacing": "error",
    "computed-property-spacing": ["error", "never"],
    "curly": "error",
    "dot-notation": "error",
    "eol-last": "off",
    "eqeqeq": ["error", "smart"],
    "no-extra-parens": "off",
    "no-floating-decimal": "error",
    "no-debugger": "error",
    "no-redeclare": "error",
    "no-spaced-func": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", {"vars": "all", "args": "after-used"}],
    "no-use-before-define": ["error", { "functions": false }],
    "no-warning-comments": "off",
    "object-curly-spacing": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "keyword-spacing": ["error", { "after": true }],
    "space-infix-ops": "error",
    "strict": "error",
    "valid-jsdoc": "off"
  }
}
