doctype html
html(lang="en")
  head
    title express-expeditious
  body
    h2 express-expeditious example server

    p
      a(href="/sometimes-slow-ping") This will load slowly on the first click

    p
      a(href="/always-slow-ping") This will always load slowly

    p
      a(href="/flush-cache") Flush Cache. Everything will load slow again!
