doctype html
html(lang="en")
  head
    title express-expeditious-404
  body
    h2 express-expeditious example server 404

    p Looks like you followed a bad link. Notice that this 404 page took around 1.5 seconds to load? Refresh it and it should be faster this time!

    p Use the link below to get to the homepage.

    p
      a(href="/") Home
